$CN: to-portfolio-button;

.#{$CN}__wrapper {
    margin-top: 4rem;
}
@media (min-width: 500px) {
    .#{$CN}__wrapper {
        margin-top: 6rem;
    }
}

.#{$CN} {
    display: block;
    width: 100%;
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 500;
    color: white;
    text-align: left;
    background-color: var(--accent-color);
    background-image: url('data:image/svg+xml;utf8,<svg width="78px" height="16px" viewBox="0 0 78 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M68.6503107,1.72707146 C69.1173999,1.58062485 69.2275551,1.61926522 69.3162117,1.69019044 L69.3162117,1.69019044 L76.7154306,7.6095656 C76.8232461,7.69581798 76.885894,7.81760572 76.9000249,7.94478424 C76.9125803,8.0577828 76.8868346,8.17503705 76.8204383,8.275403 L76.8204383,8.275403 L69.3162117,14.3098096 C69.2083962,14.3960619 69.0758269,14.430448 68.9486484,14.416317 C68.8214699,14.4021861 68.6996821,14.3395382 68.6134297,14.2317227 C68.5425045,14.1430662 68.5038641,14.0329109 68.5038641,13.9193752 L68.5038641,13.9193752 L68.5038641,10.5 L1.0289978,10.5 C0.891492158,10.5 0.766892756,10.4444762 0.676470516,10.3545765 C0.586048276,10.2646769 0.529803197,10.1404014 0.5290062,10.0028981 L0.5290062,10.0028981 L0.505821397,6.00289805 C0.505021122,5.86482918 0.560260076,5.73950691 0.650216315,5.64850178 C0.740172554,5.55749665 0.864846079,5.50080867 1.00001702,5.5000168 L1.00001702,5.5000168 L68.5038641,5.49999987 L68.5038641,2.08062485 C68.5038641,1.94255366 68.5598285,1.81755366 68.6503107,1.72707146 Z" fill="none" stroke="white" fill-rule="nonzero"></path></svg>');
    background-position: calc(100% - 20px) center;
    background-repeat: no-repeat;
    padding: 7px 25px;
    border-radius: var(--radius);
    border: none;

    &:hover {
        background-color: var(--accent-color-hover);
    }
}
